server {
    listen 80;
    root /usr/share/nginx/html;
    index index.html;

    # No cachear env.js porque cambia en cada deploy
    location = /env.js {
        add_header Cache-Control "no-cache, must-revalidate";
        add_header Pragma "no-cache";
        expires 0;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
